<%- include('../include/head.ejs') %>
<%- include('../include/navigation.ejs') %>
<section class="container main__container">
    <div class="main-form__container">
        <h1 class="main-form__title"><%= pageTitle %></h1>
        <form class="main-form" action="/zatrazite-aktivaciju" method="post">
            <div class="main-form__group">
                <label class="main-form__label" for="email">Email:</label>
                <input class="main-form__input" id="email" name="email" type="email" required <% if (existingData) { %>value='<%= existingData.email %>'<% } %>>
            </div>
            <input class="main-form__input" type="hidden" name="CSRFToken" value="<%= csrfToken %>">
            <input name="honeypot" type="hidden">
            <button class="btn-primary" type="submit">Zatražite Aktivaciju Naloga</button>
            <% if (errorMessage) { %>
                <div class="user-message--error"><%= errorMessage %></div>
            <% } %>
        </form>
    </div>
</section>
<%- include('../include/end.ejs') %>