<%- include('../include/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">
<%- include('../include/navigation.ejs') %>
<section class="main__container">
    <div class="main-form__container">
        <h1 class="main-form__title"><%= pageTitle %></h1>
        <form class="main-form width-100" action="/registracija" method="post">
            <div class="main-form__group">
                <label class="main-form__label" for="email">Email:</label>
                <input class="main-form__input" id="email" name="email" type="email" <% if (existingData) { %>value='<%= existingData.email %>'<% } %>>
            </div>
            <div class="main-form__group">
                <label class="main-form__label" for="password">Šifra:</label>
                <input class="main-form__input" id="password" name="password" type="password">
            </div>
            <div class="main-form__group">
                <label class="main-form__label" for="confirmedPassword">Potvrdite Šifru:</label>
                <input class="main-form__input" id="confirmedPassword" name="confirmedPassword" type="password">
            </div>
            <div class="main-form__group">
                <label class="main-form__label" for="firstname">Ime:</label>
                <input class="main-form__input" id="firstname" name="firstname" type="text" <% if (existingData) { %>value='<%= existingData.firstname %>'<% } %>>
            </div>
            <div class="main-form__group">
                <label class="main-form__label" for="lastname">Prezime:</label>
                <input class="main-form__input" id="lastname" name="lastname" type="text" <% if (existingData) { %>value='<%= existingData.lastname %>'<% } %>>
            </div>
            <div class="main-form__group">
                <label class="main-form__label" for="acceptance">Saglasnost:</label>
                <p>
                    Prihvatate <a class="main__link" href="/uslovi-koriscenja">Uslove Korišćenja</a> i <a class="main__link" href="/politika-privatnosti">Politiku Privatnosti</a>
                </p>
                <input class="main-form__input" id="acceptance" name="acceptance" type="checkbox" required>
            </div>
            <input class="main-form__input" type="hidden" name="CSRFToken" value="<%= csrfToken %>">
            <input name="honeypot" type="hidden">
            <button class="btn-primary" type="submit">Registrujte Se</button>
            <% if (errorMessage) { %>
                <div class="user-message--error"><%= errorMessage %></div>
            <% } %>
            <a href="/prijava" class="main__link">Imate nalog? Prijavite se!</a>
        </form>
    </div>
</section>
<%- include('../include/end.ejs') %>