<%- include('../include/head.ejs') %>
<%- include('../include/navigation.ejs') %>

<main class="section container min-h-screen flex flex-column justify-center">
  <h1 class="heading-xl mb-6"><%= pageTitle %></h1>

  <form class="form max-w-md mx-auto" action="/registracija" method="post">
    <div class="form__group">
      <label for="email" class="form__label">Email</label>
      <input
        class="form__input"
        id="email"
        name="email"
        type="email"
        value="<%= existingData?.email || '' %>"
        required
      />
    </div>

    <div class="form__group">
      <label for="password" class="form__label">Šifra</label>
      <input
        class="form__input"
        id="password"
        name="password"
        type="password"
        required
      />
    </div>

    <div class="form__group">
      <label for="confirmedPassword" class="form__label">Potvrdite Šifru</label>
      <input
        class="form__input"
        id="confirmedPassword"
        name="confirmedPassword"
        type="password"
        required
      />
    </div>

    <div class="form__group">
      <label for="firstname" class="form__label">Ime</label>
      <input
        class="form__input"
        id="firstname"
        name="firstname"
        type="text"
        value="<%= existingData?.firstname || '' %>"
        required
      />
    </div>

    <div class="form__group">
      <label for="lastname" class="form__label">Prezime</label>
      <input
        class="form__input"
        id="lastname"
        name="lastname"
        type="text"
        value="<%= existingData?.lastname || '' %>"
        required
      />
    </div>

    <div class="form__group">
      <label for="acceptance" class="form__label">Saglasnost</label>
      <p class="form__helper">
        <input class="form__input" id="acceptance" name="acceptance" type="checkbox" required />
        Prihvatate <a href="/uslovi-koriscenja" class="main__link">Uslove Korišćenja</a> i
        <a href="/politika-privatnosti" class="main__link">Politiku Privatnosti</a>
      </p>
      
    </div>

    <input type="hidden" name="CSRFToken" value="<%= csrfToken %>" />
    <input type="hidden" name="honeypot" />

    <button class="button button--primary mt-2" type="submit">Registrujte Se</button>

    <% if (errorMessage) { %>
      <div class="form__error mt-2"><%= errorMessage %></div>
    <% } %>

    <div class="mt-4">
      <a href="/prijava" class="main__link">Imate nalog? Prijavite se!</a>
    </div>
  </form>
</main>

<%- include('../include/end.ejs') %>
