<%- include('../include/head.ejs') %>
<%- include('../include/navigation.ejs') %>
<section class="flex flex-column main__container">
    <div class="container main-form__container">
        <h1 class="main-form__title"><%= pageTitle %></h1>
        <form class="main-form width-100" action="/napravite-novu-sifru" method="post">
            <div class="main-form__group">
                <label class="main-form__label" for="password">Šifra:</label>
                <input class="main-form__input" id="password" name="password" type="password">
            </div>
            <div class="main-form__group">
                <label class="main-form__label" for="confirmedPassword">Potvrdite Šifru:</label>
                <input class="main-form__input" id="confirmedPassword" name="confirmedPassword" type="password">
            </div>
            <input class="main-form__input" type="hidden" name="userId" value="<%= userId %>">
            <input class="main-form__input" type="hidden" name="passwordToken" value="<%= passwordToken %>">
            <input class="main-form__input" type="hidden" name="CSRFToken" value="<%= csrfToken %>">
            <input name="honeypot" type="hidden">
            <button class="btn-primary" type="submit">Postavite Novu Šifru</button>
            <% if (errorMessage) { %>
                <div class="user-message--error"><%= errorMessage %></div>
            <% } %>
        </form>
    </div>
</section>
<%- include('../include/end.ejs') %>