<%- include('../include/head.ejs') %>
<%- include('../include/navigation.ejs') %>

<section class="min-h-screen d-flex flex-col justify-center items-center p-4">
  <div class="container max-w-full" style="max-width: 480px;">
    <h1 class="heading-xl mb-4 text-center"><%= pageTitle %></h1>
    
    <form class="form w-full" action="/napravite-novu-sifru" method="post">
      <div class="form__group">
        <label class="form__label" for="password">Nova šifra:</label>
        <input class="form__input" id="password" name="password" type="password" required>
      </div>

      <div class="form__group">
        <label class="form__label" for="confirmedPassword">Potvrdite šifru:</label>
        <input class="form__input" id="confirmedPassword" name="confirmedPassword" type="password" required>
      </div>

      <input type="hidden" name="userId" value="<%= userId %>">
      <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
      <input type="hidden" name="CSRFToken" value="<%= csrfToken %>">
      <input type="hidden" name="honeypot">

      <button class="button button--primary mt-3 w-full" type="submit">Postavite Novu Šifru</button>

      <% if (errorMessage) { %>
        <div class="form__error mt-2 text-center"><%= errorMessage %></div>
      <% } %>
    </form>
  </div>
</section>

<%- include('../include/end.ejs') %>
