<%- include('../../include/head.ejs') %>
<%- include('../../include/navigation.ejs') %>

<section class="container main__container">
  <h1 class="main__title"><%= pageTitle %></h1>

  <div class="contact__details-wrapper flex flex-col gap-4">
    <% const fields = [
      { label: 'ID', value: contact.ID.value },
      { label: 'Ime', value: contact.Ime.value },
      { label: 'Email', value: contact.Email.value },
      { label: 'Broj Telefona', value: contact["Broj Telefona"].value },
      { label: 'Naslov', value: contact.Naslov.value },
      { label: 'Poruka', value: contact.Poruka.value },
      { label: 'Datum', value: contact.Datum.value }
    ]; %>

    <% fields.forEach(field => { %>
      <div class="form__group contact__field">
        <label class="form__label"><%= field.label %>:</label>
        <div class="form__input contact__value"><%= field.value %></div>
      </div>
    <% }) %>
  </div>
</section>

<%- include('../../include/end.ejs') %>
