<%- include('../include/head.ejs') %>
<%- include('../include/navigation.ejs') %>

<section class="container section">
  <h1 class="heading-xl mb-6"><%= pageTitle %></h1>

  <div class="grid-cols-main-sidebar gap-8">
    <!-- LEVA STRANA -->
    <div>
      <%- include('../include/breadcrumbs', { breadcrumbs }) %>

      <!-- Pretraga -->
      <form action="/forum/pretraga" method="POST" class="form mb-8">
        <div class="form__group">
          <input class="form__input" type="text" name="search" placeholder="Pretražite objave...">
          <input name="honeypot" type="hidden">
          <input class="form__input" type="hidden" name="CSRFToken" value="<%= csrfToken %>">
        </div>
        <button type="submit" class="button button--secondary">Pretraga</button>
      </form>

      <!-- Lista objava -->
      <% if (posts?.posts?.length) { %>
        <div class="cards__container grid grid-1 grid-md-3 gap-6 mb-8">
          <% posts.posts.forEach(item => { %>
            <%- include('../include/card.ejs', {
              item,
              showId: false,
              hasActions: true,
              actions: [
                {
                  type: 'link-name',
                  link: "/objava/",
                  linkName: 'Pogledajte'
                }
              ]
            }) %>
          <% }) %>
        </div>

        <%- include('../include/pagination.ejs', {
          currentPage,
          totalPages,
          basePath
        }) %>
      <% } else { %>
        <p>Nema objava za prikaz.</p>
      <% } %>
    </div>

    <!-- DESNA STRANA: Sidebar -->
    <aside class="sidebar flex flex-column gap-6">
      <% if (!isAuthenticated) { %>
        <%- include('../include/newsletter.ejs', { from: path }) %>
      <% } %>

      <% if (categories?.Kategorije?.length) { %>
        <div class="sidebar-block">
          <h2 class="heading-md mb-2">Kategorije</h2>
          <ul class="grid grid-2">
            <% categories.Kategorije.forEach(c => { %>
              <li><a href="/forum/kategorija/<%= c.Slug %>"><%= c.Naziv %></a></li>
            <% }) %>
          </ul>
        </div>
      <% } %>

      <% if (tags?.Tagovi?.length) { %>
        <div class="sidebar-block">
          <h2 class="heading-md mb-2">Tagovi</h2>
          <ul class="grid grid-2">
            <% tags.Tagovi.forEach(t => { %>
              <li><a href="/forum/oznaka/<%= t.Slug %>"><%= t.Naziv %></a></li>
            <% }) %>
          </ul>
        </div>
      <% } %>
    </aside>
  </div>
</section>

<%- include('../include/end.ejs') %>
