<%- include('../include/head.ejs') %>
<%- include('../include/navigation.ejs') %>
<section class=" container main__container">
    <h1 class="main__title"><%= pageTitle %></h1>
    <div class="column-row__container">
        <div class="left__container-70">
            <div class="feature-image">
                <img src="/images/<%= post.Slika.value %>" alt="<%= post.Slika.Opis.value %>">
            </div>
            <div class="section__block blog__content-container">
                <% post.Sadržaj.value.forEach(content => { %>
                    <%- content %>
                <% }) %>
            </div>
            <div class="section__block">
                <p><%= post.Opis.value %></p>
            </div>
        </div>
        <div class="right__container-30">
            <div>
                <h1>Kategorije:</h1>
                <ul>
                    <% post.Kategorije.value.forEach(c => { %>
                        <li>
                            <a href="/forum/kategorija/<%= c %>"><%= c %></a>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <div>
                <h1>Tagovi:</h1>
                <ul>
                    <% post.Tagovi.value.forEach(t => { %>
                        <li>
                            <a href="/forum/oznaka/<%= t %>"><%= t %></a>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</section>
<%- include('../include/end.ejs') %>