<div class="info-block">
  <% data.forEach((item) => { %>
    <div class="info-block__card">
      <% if (typeof item === 'object' && !Array.isArray(item)) { %>
        <% Object.keys(item).forEach((key) => { %>
          <div class="info-block__row">
            <span class="info-block__key"><%= key %>:</span>
            <span class="info-block__value">
              <% if (typeof item[key] === 'object') { %>
                <% if (item[key] instanceof Date) { %>
                  <%= item[key].toLocaleString("sr-RS") %>
                <% } else if (Array.isArray(item[key])) { %>
                  <ul class="info-block__list">
                    <% item[key].forEach((listItem) => { %>
                      <li class="info-block__list-item"><%= listItem %></li>
                    <% }); %>
                  </ul>
                <% } else { %>
                  <ul class="info-block__list">
                    <% Object.keys(item[key]).forEach((nestedKey) => { %>
                      <li class="info-block__list-item"><%= nestedKey %>: <%= item[key][nestedKey] %></li>
                    <% }); %>
                  </ul>
                <% } %>
              <% } else { %>
                <%= item[key] %>
              <% } %>
            </span>
          </div>
        <% }); %>
      <% } else { %>
        <div class="info-block__row">
          <span class="info-block__key">Vrednost:</span>
          <span class="info-block__value"><%= item %></span>
        </div>
      <% } %>
    </div>
  <% }); %>
</div>
