<% if (totalPages > 1) { %>
  <nav class="pagination">
    <ul class="pagination__list">
      <li>
        <a href="<%= basePath %>?page=1" class="pagination__item <%= currentPage === 1 ? 'pagination__item--active' : '' %>">1</a>
      </li>

      <% if (currentPage > 3) { %>
        <li><span class="pagination__item">...</span></li>
      <% } %>

      <% if (currentPage - 1 > 1) { %>
        <li>
          <a href="<%= basePath %>?page=<%= currentPage - 1 %>" class="pagination__item"><%= currentPage - 1 %></a>
        </li>
      <% } %>

      <% if (currentPage !== 1 && currentPage !== totalPages) { %>
        <li>
          <a href="#" class="pagination__item pagination__item--active"><%= currentPage %></a>
        </li>
      <% } %>

      <% if (currentPage + 1 < totalPages) { %>
        <li>
          <a href="<%= basePath %>?page=<%= currentPage + 1 %>" class="pagination__item"><%= currentPage + 1 %></a>
        </li>
      <% } %>

      <% if (currentPage < totalPages - 2) { %>
        <li><span class="pagination__item">...</span></li>
      <% } %>

      <% if (totalPages !== 1) { %>
        <li>
          <a href="<%= basePath %>?page=<%= totalPages %>" class="pagination__item <%= currentPage === totalPages ? 'pagination__item--active' : '' %>"><%= totalPages %></a>
        </li>
      <% } %>
    </ul>
  </nav>
<% } %>
