<%- include('../../include/head.ejs') %>
<link rel="stylesheet" href="/css/table.css">
<link rel="stylesheet" href="/css/form.css">
<%- include('../../include/navigation.ejs') %>
<section class="main__container">
    <h1 class="main__title"><%= pageTitle %></h1>
    <form class="width-100 flex flex-row" action="/admin/artikli/pretraga" method="post">
        <div class="main-form__group width-80">
            <input class="main-form__input" type="text" name="search">
            <input name="honeypot" type="hidden">
            <input class="main-form__input" type="hidden" name="CSRFToken" value="<%= csrfToken %>">
        </div>
        <button type="submit" class="btn-secondary">Pretraga</button>
    </form>
    <%- include('../../include/table.ejs', {
        items: items,
        showId: true,
        caption: "Artikli",
        hasActions: true,
        hasFooter: true,
        totals: false,
        actions: [
            {
                type: 'link',
                link: "/admin/artikal-detalji/",
                linkName: 'Detalji'
            },
            {
                type: 'form',
                formAction: "/admin/izbrisite-artikal",
                buttonName: 'Izbrišite'
            }
        ]
    }) %>
</section>
<%- include('../../include/end.ejs') %>