<%- include('../include/head.ejs') %>
<%- include('../include/navigation.ejs') %>

<!-- Glavni kontejner stranice -->
<section class="container main__container">
  <h1 class="main__title"><%= pageTitle %></h1>
  <!-- Responsive kontejner: na mobilnim uređajima kolona, na desktopu red -->
  <div class="column-row__container">
    <!-- Lijeva kolona (20% na desktopu, 100% na mobilnim uređajima) – osnovne informacije -->
    <div class="flex flex-column left__container-30">
      <%- include('../include/info.ejs', {
        data: [
          { "Email": user.Email.value },
          { "Ime": user.Ime.value },
          { "Prezime": user.Prezime.value },
          { "Status": user.Status.value },
          { "Uloga": user.Uloga.value },
        ]
      }) %>
    </div>
    <!-- Desna kolona (80% na desktopu, 100% na mobilnim uređajima) – tabovi sa podacima -->
    <div class="flex flex-column right__container-70">
      <!-- Tabovi: Telefoni, Adrese, Partner (ako postoji) i Porudžbine -->
      <div class="tabs-header">
        <button class="tab-btn active" data-tab="Brojevi Telefona">Telefoni</button>
        <button class="tab-btn" data-tab="Adrese">Adrese</button>
        <% if (user.Partner && user.Partner.Partner) { %>
          <button class="tab-btn" data-tab="Partner">Partner</button>
        <% } %>
        <button class="tab-btn" data-tab="Porudžbine">Porudžbine</button>
      </div>
      <div class="tabs-content">
        <!-- Telefoni -->
        <div class="tab-content active" data-tab="Brojevi Telefona">
          <button id="addNewTelephoneBtn" class="button">Dodajte Broj</button>

          <div id="newTelephone">
            <input type="hidden" id="csrfToken" name="CSRFToken" value="<%= csrfToken %>">
            <input name="honeypot" type="hidden">
          </div>
          <%- include('../include/table.ejs', {
              items: user['Brojevi Telefona'],
              showId: false,
              caption: 'Brojevi Telefona',
              hasActions: true,
              hasFooter: true,
              totals: false,
              actions: [{
                  type: 'form',
                  formAction: "/korisnik/izbrisite-broj",
                  buttonName: 'delete'
              }]
          }) %>
        </div>
        <!-- Adrese -->
        <div class="tab-content" data-tab="Adrese">
          <button id="addNewAddressBtn" class="button">Dodajte Adresu</button>

          <div id="newAddress">
            <input type="hidden" id="csrfToken" name="CSRFToken" value="<%= csrfToken %>">
            <input name="honeypot" type="hidden">
          </div>
          <%- include('../include/table.ejs', {
              items: user.Adrese,
              showId: false,
              caption: 'Adrese',
              hasActions: true,
              hasFooter: true,
              totals: false,
              actions: [{
                  type: 'form',
                  formAction: "/korisnik/izbrisite-adresu",
                  buttonName: 'delete'
              }]
          }) %>
        </div>
        <!-- Partner (ako postoji) -->
        <% if (user.Partner && user.Partner.Partner) { %>
          <div class="tab-content" data-tab="Partner">
            <!-- Ovde možeš prilagoditi prikaz partner informacija -->
            <%- include('../include/table.ejs', {
                items: [user.Partner],
                showId: false,
                caption: 'Partner',
                hasActions: false,
                hasFooter: false,
                totals: false,
                actions: []
            }) %>
          </div>
        <% } %>
        <!-- Porudžbine -->
        <div class="tab-content" data-tab="Porudžbine">
          <%- include('../include/table.ejs', {
              items: user["Porudžbine"],
              showId: false,
              caption: 'Porudžbine',
              hasActions: true,
              hasFooter: true,
              totals: false,
              actions: [{
                  type: 'link',
                  link: "/korisnik/porudzbina-detalji/",
                  linkName: 'visibility'
              }]
          }) %>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/tabs.js"></script>
<script src="/js/telephones.js"></script>
<script src="/js/adresses.js"></script>
<%- include('../include/end.ejs') %>
