<%- include('../include/head.ejs') %>
<link rel="stylesheet" href="/css/table.css">
<%- include('../include/navigation.ejs') %>
<section class="flex flex-column main__container">
    <h1 class="main__title"><%= pageTitle %></h1>
    <div class="flex flex-row justify-between width-100">
        <div class="width-20">
            <h2>Broj Porudžbine: <%= order.ID.value %></h2>
            <h3>Datum: <%= order.Datum.value %></h3>
            <h3>Status: <%= order.Status.value %></h3>
            <hr><br>
            <h3>Kupac: <%= order.Kupac.Ime.value %></h3>
            <p>Broj Telefona: <%= order.Telefon.value %></p>
            <p>Adresa: <%= order.Adresa.Grad.value %>, <%= order.Adresa.Ulica.value %>, <%= order.Adresa.Broj.value %>, <%= order.Adresa["Poštanski Broj"].value %></p>
            <br><hr><br>
            <h3>Kupon: </h3> 
            <p>Kod: <strong><%= order.Kupon.Kod.value || "nema" %></strong> Popust: <strong><% if (order.Kupon.Popust.value !== 'undefined %') { %><%= order.Kupon.Popust.value %><% } else { %>nema<% } %></strong></p>
            <p>Poštarina: <strong><%= order.Poštarina.value %> RSD</strong></p>
            <h2>Ukupna Cena: <%= order['Ukupna Cena'].value %></h2>
        </div>
        <div class="width-70">
            <%- include('../include/table.ejs', {
                items: order.Artikli,
                showId: false,
                caption: 'Artikli',
                hasActions: false,
                hasFooter: false,
                totals: false,
                actions: []
            }) %>
        </div>
    </div>
</section>
<%- include('../include/end.ejs') %>