<%- include('../include/head.ejs') %>
<link rel="stylesheet" href="/css/table.css">
<%- include('../include/navigation.ejs') %>

<section class="flex flex-column main__container">
    <h1 class="main__title"><%= pageTitle %></h1>
    <div class="flex flex-column width-100" style="gap: var(--grid-gap-medium);">
        <% if (cart.length > 0) { %>
            <div class="flex flex-row flex-between align-center width-100" style="margin-bottom: 1rem;">
                <a class="btn-primary" href="/prodavnica/porudzbina">Nastavite Sa PoruÄivanjem</a>
                <form action="/prodavnica/korpa-praznjenje" method="POST" class="flex flex-row align-center">
                    <input name="honeypot" type="hidden">
                    <input type="hidden" name="CSRFToken" value="<%= csrfToken %>">
                    <button class="btn-danger" type="submit">Ispraznite Korpu</button>
                </form>
            </div>
        <% } %>
        <%- include('../include/table.ejs', {
            items: cart,
            showId: false,
            caption: "Artikli",
            hasActions: true,
            hasFooter: true,
            totals: true,
            actions: [
                {
                    type: 'form',
                    formAction: "/prodavnica/korpa-izbacivanje",
                    buttonName: 'Izbacite'
                }
            ]
        }) %>
    </div>
</section>

<%- include('../include/end.ejs') %>
