<%- include('../include/head.ejs') %>
<%- include('../include/navigation.ejs') %>

<section class="container main__container">
  <h1 class="main__title"><%= item.Naziv.value %></h1>
  <div class="column-row__container flex-column-normal-force">
    <div class="left__container-30">
      <%- include('../include/galery.ejs', {
            images: item.Slike.Slike,
            selectedImage: item.Slike['Istaknuta Slika'],
            video: item.Video
        }) %>
    </div>

    <div class="right__container-70">
      <%- include('../include/breadcrumbs', { breadcrumbs }) %>
      <!-- Cena -->
      <div class="product__price-block">
        <h2 class="product__price" id="productPriceDisplay">
          <% if (item.Status.value.includes('action') && item.Varijacije.some(v => v.Akcija)) { %>
            <s><%= item.Cena.value %> RSD</s> <span class="highlight"><%= item["Akcijska Cena"].value %> RSD</span>
          <% } else { %>
            <%= item.Cena.value %> RSD
          <% } %>
        </h2>
      </div>
            
      <div>
        <form id="productForm" action="/prodavnica/korpa-dodavanje" method="post">
          <div>
            <label class="main-form__label" for="variationsSelect">Izaberite:</label>
            <select class="main-form__input" name="variationsSelect" id="variationsSelect">
              <% item.Varijacije.forEach((v, index) => { %>
                <option value="<%= index %>" class="<%= v.Akcija ? 'variation-on-sale' : '' %>"><%= v.Veličina %> <%= v.Boja %></option>
              <% }) %>
            </select>
          </div>
          <div>
            <label class="main-form__label" for="amountInput">Količina:</label>
            <input class="main-form__input" type="number" name="amount" id="amountInput" min="1" placeholder="1" required >
          </div>
          <div id="stockMessage"></div>
          <div id="formSubmitContainer">
            <button class="btn-primary" type="submit" id="submitBtn">Dodaj u korpu</button>
          </div>
          <input class="main-form__input" type="hidden" name="itemId" value="<%= item.ID.value %>">
          <input class="main-form__input" type="hidden" name="CSRFToken" value="<%= csrfToken %>">
          <input type="hidden" name="variationId" id="variationId" value="<%= item.Varijacije[0].ID %>">
          <input name="honeypot" type="hidden">
        </form>
      </div>
      <% if (isAuthenticated) { %>
        <div>
          <br>
          <form action="/korisnik/<% if (!isWishlisted) { %>dodavanje-u-listu-zelja<% } else { %>izbacivanje-iz-liste-zelja<% } %>" method="post">
            <input class="main-form__input" id="itemId" type="hidden" name="itemId" value="<%= item.ID.value %>">
            <input name="honeypot" type="hidden">
            <input class="main-form__input" type="hidden" name="CSRFToken" value="<%= csrfToken %>" required>
            <button type="submit" class="btn-primary"><% if (!isWishlisted) { %>Ubacite u Listu Želja &#9829;<% } else { %>Izbacite iz Liste Želja &#9825;<% } %></button>
          </form>
        </div>
        <br>
      <% } %>
      
      <div class="product__info-block">
        <p class="product__description"><%= item.Opis.value %></p>
    
        <div class="product__meta flex flex-column align-center gap-medium">
            <h3 class="product__meta-title">Kategorije:</h3>
            <ul class="flex flex-row flex-wrap gap-small">
              <% item.Kategorije.value.forEach(c => { %>
                <li><a href="/prodavnica/kategorija/<%= c %>" class="card__badge"><%= c %></a></li>
              <% }) %>
            </ul>

            <h3 class="product__meta-title">Tagovi:</h3>
            <ul class="flex flex-row flex-wrap justify-center gap-small">
              <% item.Tagovi.value.forEach(t => { %>
                <li><a href="/prodavnica/oznaka/<%= t %>" class="card__badge"><%= t %></a></li>
              <% }) %>
            </ul>
        </div>
      </div>
    
      <% if (item["CrossSell Artikli"].length > 0) { %>
        <div class="margin__normal flex flex-column align-center">
          <h2>Idealni Artikli uz Ovaj:</h2>
          <div class="grid grid-3">
            <% item["CrossSell Artikli"].forEach(i => { %>
              <%- include('../include/card.ejs', {
                item: i,
                hasActions: true,
                actions: [
                  {
                    type: 'link-name',
                    link: "/prodavnica/artikal/",
                    linkName: 'Pogledajte'
                  }
                ],
                showId: false
              }) %>
            <% }) %>
          </div>    
        </div>
      <% } %>
  </div>

  <div id="item-data"
    data-variations='<%- JSON.stringify(item.Varijacije) %>'
    data-backorder='<%= item.Backorder.Dozvoljeno %>'
    data-default-image='<%= item.Slike["Istaknuta Slika"].URL %>'
    data-status="<%= item.Status?.value?.map(s => s.trim()).join(',') %>"
    data-price="<%= item.Cena.value %>"
    data-action-price="<%= item['Akcijska Cena'].value %>"
    style="display: none;">
  </div>

</section>

<script src="/js/product.js"></script>
<%- include('../include/end.ejs') %>
