<%- include('../include/head.ejs') %>
<%- include('../include/navigation.ejs') %>
<section class="container main__container">
    <h1 class="main__title"><%= pageTitle %></h1>
        <form class="main-form__container" action="/prodavnica/potvrdite-porudzbinu" method="post">
            <input class="main-form__input" type="hidden" name="CSRFToken" value="<%= csrfToken %>">
            <input class="main-form__input" type="hidden" name="token" value="<%= token %>">
            <input name="honeypot" type="hidden">
            <button class="btn-primary" type="submit">Potvrdite Porudžbinu</button>
            <% if (errorMessage) { %>
                <div class="user-message--error"><%= errorMessage %></div>
            <% } %>
        </form>
</section>
<%- include('../include/end.ejs') %>