<%- include('../include/head.ejs') %>
<%- include('../include/navigation.ejs') %>

<section class="container section">
  <h2 class="heading-lg mb-6"><%= pageTitle %></h2>

  <div class="grid-cols-main-sidebar gap-8">
    <!-- LEVA STRANA -->
    <div>
      <%- include('../include/breadcrumbs', { breadcrumbs }) %>

      <form action="/prodavnica/pretraga" method="POST" class="form mb-8">
        <div class="form__group">
          <input class="form__input" type="text" name="search" placeholder="Pretraga...">
          <input name="honeypot" type="hidden">
          <input class="form__input" type="hidden" name="CSRFToken" value="<%= csrfToken %>">
        </div>
        <button type="submit" class="button button--secondary">Pretraga</button>
      </form>

      <% if (shop["Istaknuti Artikli"]?.length) { %>
        <div class="shop-featured mb-10">
          <h2 class="heading-md mb-4">
            <a href="/prodavnica/istaknuto">Istaknuto <span class="material-symbols-outlined">arrow_forward</span></a>
          </h2>
          <div class="cards__container grid grid-1 grid-md-3 gap-6">
            <% shop["Istaknuti Artikli"].forEach(item => { %>
              <%- include('../include/card.ejs', {
                item,
                hasActions: true,
                actions: [{ type: 'link-name', link: '/prodavnica/artikal/', linkName: 'Pogledajte' }],
                showId: false
              }) %>
            <% }) %>
          </div>
        </div>
      <% } %>

      <% if (shop["Artikli Na Akciji"]?.length) { %>
        <div class="shop-featured mb-10">
          <h2 class="heading-md mb-4">
            <a href="/prodavnica/akcija">Na Akciji <span class="material-symbols-outlined">arrow_forward</span></a>
          </h2>
          <div class="cards__container grid grid-1 grid-md-3 gap-6">
            <% shop["Artikli Na Akciji"].forEach(item => { %>
              <%- include('../include/card.ejs', {
                item,
                hasActions: true,
                actions: [{ type: 'link-name', link: '/prodavnica/artikal/', linkName: 'Pogledajte' }],
                showId: false
              }) %>
            <% }) %>
          </div>
        </div>
      <% } %>

      <% if (shop["Artikli Po Kategorijama"]?.length) { %>
        <% shop["Artikli Po Kategorijama"].forEach(item => { %>
          <div class="shop-featured mb-10">
            <h2 class="heading-md mb-4">
              <a href="/prodavnica/kategorija/<%= item.Kategorija.value.Slug %>"><%= item.Kategorija.value.Naziv %> <span class="material-symbols-outlined">arrow_forward</span></a>
            </h2>
            <div class="cards__container grid grid-1 grid-md-3 gap-6">
              <% item.Artikli.forEach(a => { %>
                <%- include('../include/card.ejs', {
                  item: a,
                  hasActions: true,
                  actions: [{ type: 'link-name', link: '/prodavnica/artikal/', linkName: 'Pogledajte' }],
                  showId: false
                }) %>
              <% }) %>
            </div>
          </div>
        <% }) %>
      <% } %>

      <% if (shop.Artikli?.length) { %>
        <div class="shop-featured mb-10">
          <h2 class="heading-md mb-4">Ostali Artikli</h2>
          <div class="cards__container grid grid-1 grid-md-3 gap-6">
            <% shop.Artikli.forEach(item => { %>
              <%- include('../include/card.ejs', {
                item,
                hasActions: true,
                actions: [{ type: 'link-name', link: '/prodavnica/artikal/', linkName: 'Pogledajte' }],
                showId: false
              }) %>
            <% }) %>
          </div>

          <%- include('../include/pagination.ejs', {
            currentPage,
            totalPages,
            basePath
          }) %>
        </div>
      <% } %>
    </div>

    <!-- DESNA STRANA: SIDEBAR -->
    <aside class="sidebar flex flex-column gap-6">
      <% if (shop.Kategorije?.value?.length) { %>
        <div class="sidebar-block">
          <h2 class="heading-md mb-2">Kategorije</h2>
          <ul class="grid grid-2">
            <% shop.Kategorije.value.forEach(k => { %>
              <li><a href="/prodavnica/kategorija/<%= k.Slug %>"><%= k.Naziv %></a></li>
            <% }) %>
          </ul>
        </div>
      <% } %>

      <% if (shop.Tagovi?.value?.length) { %>
        <div class="sidebar-block">
          <h2 class="heading-md mb-2">Tagovi</h2>
          <ul class="grid grid-2">
            <% shop.Tagovi.value.forEach(t => { %>
              <li><a href="/prodavnica/oznaka/<%= t.Slug %>"><%= t.Naziv %></a></li>
            <% }) %>
          </ul>
        </div>
      <% } %>
    </aside>
  </div>
</section>

<%- include('../include/end.ejs') %>
