<%- include('../include/head.ejs') %>
<link rel="stylesheet" href="/css/email.css">
<%- include('../include/navigation.ejs') %>
<section class="main__container">
    <h1 class="main__title"><%= pageTitle %></h1>
    <div>
        <p><%= message %></p>
        <a class="btn-primary" href="/">PoÄetna</a>
    </div>
</section>

<%- include('../include/end.ejs') %>