<%- include('../include/head.ejs') %>
<%- include('../include/navigation.ejs') %>

<section class="container section text-center">
  <h1 class="heading-lg mb-4"><%= pageTitle %></h1>

  <div class="flex-col-center gap-4">
    <p class="text-md text-muted"><%= message %></p>
    <a href="/" class="button button--primary">PoÄetna</a>
  </div>
</section>

<%- include('../include/end.ejs') %>
