<%- include('../include/head.ejs') %>
<%- include('../include/navigation.ejs') %>
<section class="container main__container">
    <h1 class="main__title"><%= pageTitle %></h1>
    <div class="flex flex-column align-center">
        <p><%= message %></p>
        <a class="btn-primary" href="/">PoÄetna</a>
    </div>
</section>

<%- include('../include/end.ejs') %>