<%- include('../../include/head.ejs') %>
<style>
    .feature-image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* centriranje, opcionalno */
  border-radius: var(--border-radius-normal); /* ako želite zaobljene ivice */
  object-fit: cover; /* ako želite da slika popuni prostor bez distorzije */
}

</style>
<%- include('../../include/navigation.ejs') %>
<section class="container main__container">
    <h1 class="main__title"><%= pageTitle %></h1>
    <div class="column-row__container">
        <div class="left__container-70">
            <div class="feature-image">
                <img src="/images/<%= post.Slika.value %>" alt="<%= post.Slika.Opis.value %>">
            </div>
            <div class="blog__content-container">
                <% post.Sadržaj.value.forEach(content => { %>
                    <%- content %>
                <% }) %>
            </div>
            <p><%= post.Opis.value %></p>
        </div>
        <div class="right__container-30">
            <div>
                <h1>Kategorije:</h1>
                <ul>
                    <% post.Kategorije.value.forEach(c => { %>
                        <li>
                            <%= c %>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <div>
                <h1>Tagovi:</h1>
                <ul>
                    <% post.Tagovi.value.forEach(t => { %>
                        <li>
                            <%= t %>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</section>
<%- include('../../include/end.ejs') %>