<%- include('../../include/head.ejs') %>
<%- include('../../include/navigation.ejs') %>

<section class="container section main__container">
  <h1 class="main__title break-all"><%= pageTitle %></h1>

  <div class="d-flex flex-col gap-6 lg:flex-row">
    <div class="w-full lg:w-1/3 d-flex flex-col gap-4">
      <% if (order.Status.value !== 'failed' && order.Status.value !== 'cancelled') { %>
        <div>
          <button id="toggleBtn" class="button button--secondary mb-2">Upravljanje</button>
          <form id="statusForm" class="form d-none" action="/admin/izmenite-porudzbinu" method="post">
            <div class="form__group">
              <label class="form__label" for="statusSelect">Status:</label>
              <select class="form__select" name="status" id="statusSelect">
                <option value="processing">Processing</option>
                <% if (order.Status.value === 'processing') { %>
                  <option value="cancelled">Cancelled</option>
                <% } %>
                <option value="pending-payment">Pending Payment</option>
                <option value="refund-period">Refund Period</option>
                <option value="fulfilled">Fulfilled</option>
                <option value="sent-exchange">Sent Exchange</option>
                <option value="exchanged">Exchanged</option>
                <option value="returned">Returned</option>
                <option value="failed">Failed</option>
              </select>
            </div>
            <input type="hidden" name="orderId" value="<%= order.ID.value %>">
            <input type="hidden" name="honeypot">
            <input type="hidden" name="CSRFToken" value="<%= csrfToken %>">
            <button type="submit" class="button button--primary">Izmenite</button>
          </form>
        </div>
      <% } %>

      <div class="d-flex flex-col gap-2">
        <h2 class="heading-md break-all">Broj Porudžbine: <%= order.ID.value %></h2>
        <p>Datum: <strong><%= order.Datum.value %></strong></p>
        <p>Status: <strong><%= order.Status.value %></strong></p>
        <hr>
        <h3 class="heading-sm">Kupac:</h3>
        <a class="link-button" href="/admin/<%= order.Kupac.Tip.value === 'User' ? 'korisnik-detalji' : 'kupac-detalji' %>/<%= order.Kupac.ID.value %>?email=<%= order.Kupac.Email.value %>">
          <%= order.Kupac.Ime.value %> <%= order.Kupac.Prezime.value %>
        </a>
        <p>Telefon: <%= order.Telefon.value %></p>
        <p>Adresa: <%= order.Adresa.Grad.value %>, <%= order.Adresa.Ulica.value %> <%= order.Adresa.Broj.value %>, <%= order.Adresa["Poštanski Broj"].value %></p>
        <p>Napomena: <%= order.Napomena.value %></p>
        <hr>
        <h3 class="heading-sm">Kupon:</h3>
        <p>Kod: <strong><%= order.Kupon.Kod.value || "nema" %></strong></p>
        <p>Popust: <strong><%= order.Kupon.Popust?.value !== 'undefined %' ? order.Kupon.Popust.value : 'nema' %></strong></p>
        <p>Poštarina: <strong><%= order.Poštarina.value %> RSD</strong></p>
        <h2 class="heading-md">Ukupna Cena: <%= order['Ukupna Cena'].value %> RSD</h2>
      </div>
    </div>

    <div class="w-full lg:w-2/3">
      <%- include('../../include/table.ejs', {
        items: order.Artikli,
        showId: false,
        caption: 'Artikli',
        hasActions: false,
        hasFooter: false,
        totals: false,
        actions: []
      }) %>
    </div>
  </div>
</section>

<script src="/js/orderForm.js"></script>
<%- include('../../include/end.ejs') %>
