<%- include('../include/head.ejs') %>
<%- include('../include/navigation.ejs') %>

<section class="container main__container">
  <!-- Hero sekcija -->
  <%- include('../include/hero.ejs', {
    orientation: "left-right",
    title: "Dobrodošli u Tophelanke",
    subtitle: "Vaša destinacija za savremenu žensku garderobu",
    paragraphs: [
      "Otkrijte ogroman asortiman helanki, trenerki, fitness kompleta, kupaćih, majica, šorceva, haljina, kardigana, jakni i još mnogo toga!",
      "Pažljivo odabrani artikli kako bi svaka žena pronašla svoj savršen stil.",
      "Sa veličinama od XS do 4XL, garantujemo izuzetan kvalitet i moderno rešenje za svaku priliku i godišnje doba."
    ],
    ctaLink: "/prodavnica",
    ctaText: "Posetite prodavnicu",
    imageSrc: "/images/tophelanke_hero.jpg",
    imageAlt: "tophelanke hero helanke prodavnica"
  }) %>
  
  <!-- Policies sekcija (kratki info o garanciji, dostavi, sl. ) -->
  <div class="circular-badges-container">
    <div class="circular-badges-slider">
      <div class="circular-badges-track">
        <%- include('../include/circularBadge.ejs', {
          title: "Brza Dostava",
          text: "Post Express",
          icon: "local_shipping"
        }) %>
        <%- include('../include/circularBadge.ejs', {
          title: "Garancija Zamene",
          text: "U roku od 14 dana, bez pitanja.",
          icon: "sync_alt"
        }) %>
        <%- include('../include/circularBadge.ejs', {
          title: "Povrata Novca",
          text: "U roku od 14 dana, bez pitanja.",
          icon: "currency_exchange"
        }) %>
        <%- include('../include/circularBadge.ejs', {
          title: "Sigurna Kupovina",
          text: "Vaši podaci su enkriptovani i bezbedni.",
          icon: "lock"
        }) %>
        <%- include('../include/circularBadge.ejs', {
          title: "Lako Dostupni",
          text: "Možete nas kontaktirati putem forme, email ili teleofna.",
          icon: "contact_support"
        }) %>
      </div>
    </div>

  </div>

  <!-- Shop Featured sekcija -->
  <div class="shop-featured">
    <h1 class="main__title"><a href="/prodavnica/istaknuto">Istaknuto iz Ponude</a></h1>
    <div class="cards__container">
      <% featuredItems.forEach(item => { %>
          <%- include('../include/card.ejs', {
              item: item,
              hasActions: true,
              actions: [
                  {
                      type: 'link-name',
                      link: "/prodavnica/artikal/",
                      linkName: 'Pogledajte'
                  }
              ],
              showId: false
          }) %>
      <% }) %>
    </div>
  </div>

  <!-- Social proof sekcija (recenzije, ocene ili influencer endorsement) -->
  <div class="social-proof">
    <h1 class="main__title">Šta kažu naše zadovoljne klijentkinje?</h1>
    <div class="testimonial-slider">
      <div class="testimonial-track">
        <%- include('../include/testimonialCard.ejs', {
          image: "/images/tophelanke_logo.png", 
          name: "Eleonora Vasović",
          rating: 5,
          text: "Odlična usluga, brza dostava i kvalitetni proizvodi. Preporučujem svima!"
        }) %>
        <%- include('../include/testimonialCard.ejs', {
          image: "/images/tophelanke_logo.png", 
          name: "Jovana Jovanović",
          rating: 5,
          text: "Sve pohvale za brzu dostavu i kvalitet proizvoda. Jako sam zadovoljna!"
        }) %>
        <%- include('../include/testimonialCard.ejs', {
          image: "/images/tophelanke_logo.png", 
          name: "Ana Anić",
          rating: 5,
          text: "Sve je bilo super, veličina nije odgovarala, uspešno i lako je urađena zamena. Sve u svemu, zadovoljna sam."
        }) %>
        <%- include('../include/testimonialCard.ejs', {
          image: "/images/tophelanke_logo.png", 
          name: "Pera Peric",
          rating: 5,
          text: "Sve je bilo super, veličina nije odgovarala, uspešno i lako je urađena zamena. Sve u svemu, zadovoljna sam."
        }) %>
        <%- include('../include/testimonialCard.ejs', {
          image: "/images/tophelanke_logo.png", 
          name: "Toma Tomic",
          rating: 5,
          text: "Sve je bilo super, veličina nije odgovarala, uspešno i lako je urađena zamena. Sve u svemu, zadovoljna sam."
        }) %>
      </div>
    </div> 
  </div>

  <div class="shop-featured">
    <h1 class="main__title"><a href="/prodavnica/akcija">Na Akciji</a></h1>
    <div class="cards__container">
      <% actionItems.forEach(item => { %>
          <%- include('../include/card.ejs', {
              item: item,
              hasActions: true,
              actions: [
                  {
                      type: 'link-name',
                      link: "/prodavnica/artikal/",
                      linkName: 'Pogledajte'
                  }
              ],
              showId: false
          }) %>
      <% }) %>
    </div>
  </div>

  <!-- Blog sekcija -->
  <div class="blog-section">
    <h1 class="main__title"><a href="/forum">Najnovije sa Foruma</a></h1>
    <div class="cards__container">
      <% forumPosts.posts.forEach(item => { %>
        <%- include('../include/card.ejs', {
            item: item,
            showId: false,
            hasActions: true,
            actions: [
              {
                type: 'link-name',
                link: "/objava/",
                linkName: 'Pogledajte'
              }
            ]
        }) %>
      <% }) %>
    </div>
  </div>

  <!-- CTA 2 sekcija (npr. ponuda za newsletter ili popust) -->
  <div class="cta2 column-row__container">
    <div class="cta2-text">
      <h1>Program Partnerstva</h2>
      <p style="color: var(--white-color);">Uskoro će biti više o programu partnerstva, do tada prijavite se na naš newsletter za buduće informacije!</p>
    </div>
    <div class="cta2-form">
      <%- include('../include/newsletter.ejs', {from: path }) %>
    </div>
  </div>
</section>
<%- include('../include/end.ejs') %>
